In [2]:
pip install pandas

Requirement already satisfied: pandas in c:\users\kalimi prakash\anaconda3\lib\site-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\kalimi prakash\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\kalimi prakash\anaconda3\lib\site-packages (from pandas) (2022.7)
Requirement already satisfied: numpy>=1.21.0 in c:\users\kalimi prakash\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\kalimi prakash\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
%matplotlib inline 
import pandas as pd

In [4]:
titles = pd.read_csv("titles.csv")
titles.head()

                  title  year
0    Tasveer Mere Sanam  1996
1              Only You  1994
2  El pueblo del terror  1970
3               Machine  2007
4                  MARy  2008

# 1. How many movies are listed in the titles dataframe?

In [5]:
import pandas as pd

df = pd.read_csv("titles.csv")

num_movies = len(df)

print(f'Total number of movies listed: {num_movies}')

Total number of movies listed: 244914

# 2.What are the earliest two films listed in the titles dataframe?

In [6]:
earliest_films = titles.sort_values(by='year', ascending=True).head(2)

# Print the earliest two films
print(earliest_films)

                     title  year
193222          Miss Jerry  1894
51388   The Startled Lover  1898

# 4. How many movies are titled "North by Northwest"?

In [7]:
north_by_northwest_count = titles[titles['title'] == 'North by Northwest'].shape[0]

# Print the count
print("Number of movies titled 'North by Northwest':", north_by_northwest_count)

Number of movies titled 'North by Northwest': 1

# 5. When was the first movie titled "Hamlet" made?

In [8]:
hamlet_movies = titles[titles['title'] == 'Hamlet']

# Sort the filtered dataframe by the 'year' column in ascending order and select the first row
first_hamlet_movie = hamlet_movies.sort_values(by='year').iloc[0]

# Print the year of the first "Hamlet" movie
print("The first movie titled 'Hamlet' was made in the year:", first_hamlet_movie['year'])

The first movie titled 'Hamlet' was made in the year: 1910

# 6. List all the "Treasure Island" movies from earliest to most recent

In [15]:
treasure = titles[titles["title"] == "Treasure Island"]
treasure_mvs = treasure.sort_values(by="year")
print(f"List of Treasure Island movies:\n")
for index, row in treasure_mvs.iterrows():
    print(f'{row["year"]}\t : {row["title"]}')

List of Treasure Island movies:

1918	 : Treasure Island
1920	 : Treasure Island
1934	 : Treasure Island
1950	 : Treasure Island
1972	 : Treasure Island
1973	 : Treasure Island
1985	 : Treasure Island
1999	 : Treasure Island

# 7. How many movies were made in the year 1950?

In [9]:
# Assuming your dataframe is named 'titles'
# Filter the dataframe to include only rows where the 'year' column is equal to 1950
movies_1950 = titles[titles['year'] == 1950]

# Get the count of movies made in 1950
count_1950_movies = len(movies_1950)

# Print the count
print("Number of movies made in 1950:", count_1950_movies)

Number of movies made in 1950: 1113

# 8. How many movies were made in the year 1960?

In [10]:
# Assuming your dataframe is named 'titles'
# Filter the dataframe to include only rows where the 'year' column is equal to 1960
movies_1960 = titles[titles['year'] == 1960]

# Get the count of movies made in 1960
count_1960_movies = len(movies_1960)

# Print the count
print("Number of movies made in 1960:", count_1960_movies)

Number of movies made in 1960: 1549

# 9. How many movies were made from 1950 through 1959?

In [11]:
# Assuming your dataframe is named 'titles'
# Filter the dataframe to include only rows where the 'year' column is within the range 1950-1959
movies_1950s = titles[(titles['year'] >= 1950) & (titles['year'] <= 1959)]

# Get the count of movies made in the 1950s
count_1950s_movies = len(movies_1950s)

# Print the count
print("Number of movies made from 1950 through 1959:", count_1950s_movies)

Number of movies made from 1950 through 1959: 12934

# 10. In what years has a movie titled "Batman" been released?

In [12]:
# Assuming your dataframe is named 'titles'
# Filter the dataframe to include only rows where the 'title' column is equal to "Batman"
batman_movies = titles[titles['title'] == 'Batman']

# Get the unique years from the filtered dataframe
years_of_batman_movies = batman_movies['year'].unique()

# Print the years
print("Years in which a movie titled 'Batman' has been released:", years_of_batman_movies)

Years in which a movie titled 'Batman' has been released: [1943 1989]

In [16]:
cast= pd.read_csv("cast.csv")
print(cast.head())

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4  31.0
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

# 11. How many roles were there in the movie "Inception"?

In [17]:
import pandas as pd

csv_file = "cast.csv"

df = pd.read_csv(csv_file)

inception_roles = df[df['title'] == 'Inception']

num_roles_inception = inception_roles['character'].nunique()

print(f'The number of roles in the movie "Inception" is: {num_roles_inception}')

The number of roles in the movie "Inception" is: 56

# 12. How many roles in the movie "Inception" are Not ranked an "n" Value

In [18]:
inception_cast = cast[cast["title"] == "Inception"]
roles_without_n = inception_cast["n"].isna().sum()
print("Number of roles in Inception without a ranked n is\t: ", end=" ")
print(roles_without_n)

Number of roles in Inception without a ranked n is	:  27

# 13. But how many roles in movie "Inception" did receive an "n" value

In [19]:
inception_cast = cast[cast["title"] == "Inception"]
roles_with_n = inception_cast["n"].count()
print("Number of roles in Inception with ranked n is\t: ", end=" ")
print(roles_with_n)

Number of roles in Inception with ranked n is	:  51

# 14. Display the cast of "North by Northwest" in their correct "n" value order

In [20]:
north = cast[cast["title"] == "North by Northwest"]
north= north.dropna(subset=["n"])
north_sort = north.sort_values(by = "n")
print(north_sort[["n", "character"]])

            n                    character
871426    1.0           Roger O. Thornhill
3518333   2.0                  Eve Kendall
1457165   3.0              Phillip Vandamm
3157232   4.0              Clara Thornhill
356707    5.0                The Professor
3048272   6.0                Mrs. Townsend
1695173   7.0              Lester Townsend
1275337   8.0                      Leonard
2447081   9.0                     Valerian
1811387  10.0              Victor Larrabee
665768   11.0                        Licht
2295714  12.0                   Auctioneer
464736   13.0                    Dr. Cross
1508344  14.0               Sergeant Flamm
206471   15.0               Captain Junket
1384780  16.0  Charley - Chicago Policeman

# 15. Display the entire cast, in "n"-order, of th e1972 film "sleuth"

In [21]:
cast_sleuth_1972 = cast[(cast["title"] == "Sleuth") & 
                        (cast["year"] == 1972)]
cast_sorted = cast_sleuth_1972.sort_values(by="n")
print(cast_sorted[["n", "name", "character", "year"]])

           n                name                   character  year
1705394  1.0    Laurence Olivier                 Andrew Wyke  1972
326773   2.0       Michael Caine                 Milo Tindle  1972
373876   3.0      Alec Cawthorne           Inspector Doppler  1972
1465483  4.0  John (II) Matthews  Detective Sergeant Tarrant  1972
2724553  5.0  Eve (III) Channing             Marguerite Wyke  1972
1448690  6.0        Teddy Martin      Police Constable Higgs  1972

# 16. Now display the entire cast, in "n"-order, of the 2007 version "Sleuth".

In [22]:
# cast_sleuth_1972 = cast[(cast["title"] == "Sleuth") & (cast["year"] == 2007)]
cast_sorted = cast_sleuth_1972.sort_values(by="n")
print(cast_sorted[["n", "name", "character","year"]])

           n                name                   character  year
1705394  1.0    Laurence Olivier                 Andrew Wyke  1972
326773   2.0       Michael Caine                 Milo Tindle  1972
373876   3.0      Alec Cawthorne           Inspector Doppler  1972
1465483  4.0  John (II) Matthews  Detective Sergeant Tarrant  1972
2724553  5.0  Eve (III) Channing             Marguerite Wyke  1972
1448690  6.0        Teddy Martin      Police Constable Higgs  1972

# 17. How many roles were credited in the silent 1921 version of Hamlet

In [23]:
hamlet_1921 = cast[(cast["title"] == "Hamlet") & 
                   (cast["year"] == 1921)]
roles = hamlet_1921["character"].count()
print("NUmber of credited roles in the silent 1921 version of Hamlet is: ", end="")
print(roles)

NUmber of credited roles in the silent 1921 version of Hamlet is: 9

# 18. How many roles were credited in Branagh's 1996 Hamlet

In [24]:
hamlet_1996 = cast[(cast["title"] ==  "Hamlet") & (cast["year"] == 1996)]
roles = hamlet_1996["character"].count()
print("Number of credited roles in the silent 1996 Hamlet is: ", end="")
print(roles)

Number of credited roles in the silent 1996 Hamlet is: 54

# 19. How many "Hamlet" roles have been listed in all film credits through history

In [25]:
hamlet = cast[cast["title"].str.contains("Hamlet", case = False, regex = False)]
roles = len(hamlet["character"].unique())
print("Number of roles listed in all film credits: ", end="")
print(roles)

Number of roles listed in all film credits: 485

# 20. how many people have played an "Ophelia"

In [28]:
ppl = cast[cast["character"] == "Ophelia"]
ppl_count = len(ppl["name"].unique())

print("Number of people have pllayed an Ophelia is: ", end="")
print(ppl_count)

Number of people have pllayed an Ophelia is: 115

# 21. How many people have played a role called "The Dude"

In [27]:
ppl = cast[cast["character"] == "The Dude"]
ppl_count = len(ppl["name"].unique())
print("Number of people have pllayed an The Dude is: ", end="")
print(ppl_count)

Number of people have pllayed an The Dude is: 19

# 22. How many people have played a role called "The Stranger"

In [29]:
ppl = cast[cast["character"] == "The Stranger"]
ppl_count = len(ppl["name"].unique())
print("Number of people have pllayed an The Stranger is: ", end="")
print(ppl_count)

Number of people have pllayed an The Stranger is: 202

# 23. How many roles has Sidney Poitier played throughout his career

In [30]:
sidney = cast[cast["name"]== "Sidney Poitier"]
roles_count = len(sidney["character"].unique())
print("Sidney Poitier has played : ", end="")
print(roles_count, "roles throughout his career")

Sidney Poitier has played : 41 roles throughout his career

# 24. How many roles has Judi Dench played

In [31]:
judi = cast[cast["name"]== "Judi Dench"]
roles_count = len(judi["character"].unique())
print("Judi Dench has played : ", end="")
print(roles_count, "roles throughout his career")

Judi Dench has played : 46 roles throughout his career

# 25. List the supporting roles (havinh n=2) played by cary Grant in the 1940s in order by year

In [32]:
list = cast[(cast["name"] == "Cary Grant") & 
            (cast["n"] == 2) & 
            (cast["year"] >= 1940) & 
            (cast["year"] <= 1949)]
cary_grant = list.sort_values(by ="year")
print("Supporting roles played by Cary Grant in tht year 1940s: ")
print(cary_grant)

Supporting roles played by Cary Grant in tht year 1940s:
                   title  year        name   type    character    n
871423  My Favorite Wife  1940  Cary Grant  actor   Nick Arden  2.0
871433    Penny Serenade  1941  Cary Grant  actor  Roger Adams  2.0

# 26. List the leading roles that Cary Grant played in the 1940s in order by the year

In [33]:
list = cast[(cast["name"] == "Cary Grant") & 
            (cast["n"] == 1) & 
            (cast["year"] >= 1940) & 
            (cast["year"] <= 1949)]
cary_grant = list.sort_values(by ="year")
print("Leading roles played by Cary Grant in tht year 1940s: ")
for index, row in cary_grant.iterrows():
    print(f"Year : {row['year']} , Character : {row['character']}, Title: {row['title']}")

Leading roles played by Cary Grant in tht year 1940s:
Year : 1940 , Character : Matt Howard, Title: The Howards of Virginia
Year : 1940 , Character : Walter Burns, Title: His Girl Friday
Year : 1940 , Character : C. K. Dexter Haven, Title: The Philadelphia Story
Year : 1941 , Character : Johnnie Aysgarth, Title: Suspicion
Year : 1942 , Character : Leopold Dilg, Title: The Talk of the Town
Year : 1942 , Character : Patrick 'Pat' O'Toole, Title: Once Upon a Honeymoon
Year : 1943 , Character : Capt. Cassidy, Title: Destination Tokyo
Year : 1943 , Character : Joe Adams -posing as Joe Bascopolous, Title: Mr. Lucky
Year : 1944 , Character : Jerry Flynn, Title: Once Upon a Time
Year : 1944 , Character : Mortimer Brewster, Title: Arsenic and Old Lace
Year : 1944 , Character : Ernie Mott, Title: None But the Lonely Heart
Year : 1946 , Character : Cole Porter, Title: Night and Day
Year : 1946 , Character : Devlin, Title: Notorious
Year : 1947 , Character : Dick Nugent, Title: The Bachelor and the Bobby-Soxer
Year : 1947 , Character : Dudley, Title: The Bishop's Wife
Year : 1948 , Character : Jim Blandings, Title: Mr. Blandings Builds His Dream House
Year : 1948 , Character : Dr. Madison Brown, Title: Every Girl Should Be Married
Year : 1949 , Character : Captain Henri Rochard, Title: I Was a Male War Bride

# 27. How many roles were avaialable for actors in the 1950s

In [34]:
roles_1950s = cast[(cast["year"]>=1050) & (cast["year"] <=1959)]
role_c = len(roles_1950s)
print("num of roles in 1950s : ", end="")
print(role_c)

num of roles in 1950s : 747201

# 28. How many roles were avaialable for actresses in the 1950s

In [35]:
roles_1950s = cast[(cast["year"]>=1050) & 
                   (cast["year"] <=1959) & 
                   (cast["type"] == "actress")]
role_count = len(roles_1950s)
print("num of roles in 1950s : ", end="")
print(role_count)

num of roles in 1950s : 199422

# 29. How many leading roles were available from the begining of film history throughh 1980

In [36]:
role_1980 = cast[(cast["year"]<=1980) &
                (cast["n"] == 1)]
count = len(role_1980)
print(f"Num of leading roles from the begining to 1980: {count}")

Num of leading roles from the begining to 1980: 65140

# 30. How many non-leading roles were available through from the begining of film history through 1980

In [37]:
role_1980 = cast[(cast["year"]<=1980) &
                (cast["n"].isna())]
count = len(role_1980)
print(f"Num of non-leading roles from the begining to 1980: {count}")

Num of non-leading roles from the begining to 1980: 448347

# 31. How many roles through 1980 were minor enough that they did not warrant a numeric "n" rank

In [38]:
minor_1980 = cast[(cast["year"] <=1980) &
                 cast["n"].isna()]
count_minor = len(minor_1980)
print(f"num of roles through 1980 not have n rank : {count_minor}")

num of roles through 1980 not have n rank : 448347